#username {
    font-weight: bold;
    color: white;
    font-size: large;
}

#cUser{
    font-weight: bold;
    padding-left: 2%;
}

#title{
    color: white;
}

#basic-nav-dropdown {
    color: white;
    font-weight: bolder;
}

#dashboard{
    margin-top: 1%;
}
.platformMessage {
    max-width: 60%;
    text-align: center;
    position: relative;
    top: 10%;
    left: 20%;
    padding: 10px;
    margin-top: 20px;
  }

