.servicesDiv {
    border: 2px solid;
    width: 800px;
    height: 500px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.unsubscribeButton {
    position: absolute;
    bottom: 3px;
    right:16px;
    background-color: purple;
}